In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [3]:
from rating.tournament import Tournament
from rating.players import PlayerRating
from rating.teams import TeamRating

In [20]:
from release_procs.tools import calculate_bonus_predictions, calc_score_real
from release_procs.calc_rating import calc_bonus

In [42]:
%%time
t_r = TeamRating(release_id=1425)

CPU times: user 45.1 ms, sys: 4.09 ms, total: 49.1 ms
Wall time: 1.34 s

In [43]:
%%time
p_r = PlayerRating(release_id=1425)

CPU times: user 157 ms, sys: 20.8 ms, total: 177 ms
Wall time: 8.33 s

In [44]:
t_r.update_q(p_r)

In [45]:
%%time
bb = Tournament(5752)

CPU times: user 58.5 ms, sys: 12.4 ms, total: 70.9 ms
Wall time: 4.41 s

In [38]:
bb.add_ratings(t_r, p_r)

In [39]:
bb.calc_bonuses(t_r)

In [41]:
t_r.data

         rating   trb
team_id
45556      9990  8767
188        9511  8297
168        9089  7809
27177      9058  8480
46381      8939  8443
...         ...   ...
75944         0     0
75985         0     0
75987         0     0
75989         0     0
75990         0     0

[5225 rows x 2 columns]