In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [3]:
from rating.tournament import Tournament
from rating.players import PlayerRating
from rating.teams import TeamRating

In [20]:
from release_procs.tools import calculate_bonus_predictions, calc_score_real
from release_procs.calc_rating import calc_bonus

In [42]:
%%time
t_r = TeamRating(release_id=1425)

CPU times: user 45.1 ms, sys: 4.09 ms, total: 49.1 ms
Wall time: 1.34 s

In [43]:
%%time
p_r = PlayerRating(release_id=1425)

CPU times: user 157 ms, sys: 20.8 ms, total: 177 ms
Wall time: 8.33 s

In [44]:
t_r.update_q(p_r)

In [45]:
%%time
bb = Tournament(5752)

CPU times: user 58.5 ms, sys: 12.4 ms, total: 70.9 ms
Wall time: 4.41 s

In [48]:
bb.data[:10]

,team_id,name,current_name,questionsTotal,position,n_base,n_legs,teamMembers,heredity,rt,r,rb,rg,score_pred,score_real,bonus_raw,bonus
0,51514,Язык Чау-Чау,Язык Чау-Чау,35,1.0,4,2,"[7008, 116713, 10586, 116757, 116758, 119245]",True,8479.696209,7621,7987,8091.118669,1888.0,2016.0,130,130.000000
2,51739,Зоопарк,Зоопарк,34,3.0,5,1,"[90996, 54468, 54469, 38647, 36711, 16871]",True,7547.976502,7157,7452,7249.177110,1722.0,1942.0,163,163.000000
1,5521,Н.И.Ш.А.,Н.И.Ш.А.,34,3.0,4,2,"[29578, 6076, 17955, 39879, 66128, 149650]",True,5671.077253,5757,5794,5634.862227,1345.0,1942.0,352,352.000000
3,42483,Пахом Пихай,Пахом Пихай,34,3.0,5,0,"[35385, 12474, 16329, 4730, 9188]",True,6691.781426,7610,6590,7610.000000,1800.0,1942.0,124,124.000000
5,68023,Круглый стол пропагандиста,Круглый стол пропагандиста,33,6.0,0,6,"[56587, 53711, 90455, 82777, 155079, 37883]",False,7559.753858,0,0,7559.753858,1782.0,1881.0,94,94.000000
6,4622,Спонсора.net,Спонсора.net,33,6.0,6,0,"[34476, 35857, 57018, 15683, 16609, 12307]",True,7356.921618,7382,7250,7382.000000,1752.0,1881.0,109,109.000000
4,38722,Хайвмайнд,Хайвмайнд,33,6.0,6,0,"[9801, 31655, 46675, 62812, 24215, 53241]",True,7263.824424,7087,7154,7195.795876,1702.0,1881.0,134,134.000000
11,1540,Вологда,Вологда,32,12.5,5,1,"[25288, 25006, 30034, 21419, 3096, 5475]",True,6038.418590,4990,5435,5544.012652,1319.0,1748.0,245,245.000000
9,60039,Заговор лемуров,Заговор лемуров,32,12.5,4,2,"[15727, 12234, 1062, 24668, 3428, 17746]",True,7061.366069,7207,7064,7204.312749,1712.0,1748.0,48,48.000000
8,1021,Интермедия,Интермедия,32,12.5,3,3,"[9342, 21721, 11346, 11347, 3425, 140469]",True,7029.772845,5511,5858,6613.362606,1577.0,1748.0,116,77.333333

In [46]:
%%timeit
bb.add_ratings(t_r, p_r)
bb.calc_bonuses(t_r)

393 ms ± 27 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)